body
{
font-family:"Verdana";
background-color:#ffffff;
text-decoration:none;
}

ul.menu
{
margin-left:250px;
margin-right:150px;
}

li.menu
{
float:left;
}

a.menu
{
text-align:center;
width:200px;
height:50px;
background-color:#9acd32;
text-decoration:none;
color:#ffffff;
}

div.main
{
margin-left:130px;
margin-right:130px;
background-color:#ffffff;
padding-right:30px;
}

i.expiry
{
font-size:10px;
color=red;
}